<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Base de datos de laboratorios</h1>
        <nav>
            <ul>
                <li><a href="{% url 'laboratorio_create' %}">Crear un Laboratorio</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Ir a información de los laboratorios</a></li>
            </ul>
        </nav>
        <div class="row mt-3">
            <div class="col">
                <p>Ud ha visitado esta página {{ visit_count }} veces.</p>
            </div>
        </div>
        <p>&copy; {{ year }} My Website. All rights reserved.</p>
    </footer>
</body>
</html>
